<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="clienthostname8082" value="localhost"/>
    <add key="clientport8082" value="8082"/>

    <add key="serverhostname" value="localhost"/>
    <add key="serverport" value="8080"/>
    <add key="clientfolder" value="\LocalStorage"/>

    <add key ="sendFiles" value="CppCommWithFileXfer/SendFiles"/>
    <add key ="saveFiles" value="CppCommWithFileXfer/SaveFiles"/>
    <add key="serverFolder" value="/ServerStorage"/>

    <add key="clienthostname8084" value="localhost"/>
    <add key="clientport8084" value="8084"/>

    <add key ="projectRoot" value="../../../../"/>
  </appSettings>
</configuration>